@model Test_project.Models.Users

@{
    ViewData["Title"] = "UserDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1 class="text-white text-center fw-bold text-decoration-underline link-underline-info">User Detail</h1>
    <hr />
    <dl class="row text-white">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hobbies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hobbies)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="UpdateUser" asp-route-id="@Model?.Id" class="btn btn-info">Edit</a> |
    <a asp-action="UserList">Back to List</a>
</div>
